.App {
   font-family: sans-serif;
   text-align: center;
}

button {
   margin: 0 5px;
}
button:hover{
   cursor:pointer;
}

.my-list {
   padding: 20px 0;
}

.grid{
   display:flex;
   flex-wrap: wrap;

}

.list{
   display:flex;
   flex-direction: column;
   width:100%;
}

.black{
   min-width: 31%;
   background-color: black;
   color:white;
}
.white{
   min-width: 31%;
   background-color: white;
   color:black;
}